SUBSYSTEM=="usb", ATTR{idVendor}=="16c0", ATTR{idProduct}=="0483", MODE="666", GROUP="usb", SYMLINK+="motor_teensy"
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6001", MODE="666", GROUP="usb", SYMLINK+="imu"
